/* set background color to steam color will finalise it later on */
html, body {
    background-color: #23262E;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.tab-contents {
    display: none;
    background-color: #1b2838;
    color: white;
    padding: 1rem;
    border-radius: 8px;
}

.tab-contents.active {
    display: block;
}

.header-tabs {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #171d25;
}
