{% extends "header.html" %}
{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 d-flex flex-column align-items-start">
            <h1 class="tab-title generate display-4 mb-5">Generate your SteamWrappeds</h1>  
            <div>
                
                {% if steam_id and session.get('user_id') %}
                <p style="font-weight: bold;"> Steam ID: </p>
                <p> {{ steam_id }} </p> 
                {% elif not steam_id and session.get('user_id') %}
                <p style="font-weight: bold;"> Steam ID not yet linked. You can link your Steam ID in your profile. </p>
                {% else %}
                <p> Please log in to link your Steam ID. </p>
                {% endif %}

                <form action="{{ url_for('generate') }}">
                    <button type="submit" class="button generate mt-3">Generate</button>
                </form>
            </div>
        </div>
        {% include "elements/tutorial.html" %}
    </div>
</div>

{% endblock %}
