{% extends "header.html" %}
{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 d-flex flex-column align-items-start">
            {% if session.get('user_id') %}
            <h1 class="tab-title display-4 mb-5"> Hello {{ username }}</h1>  
            {% else %}
            <h1 class="tab-title display-4 mb-5">Welcome to SteamWrapped!</h1>  
            {% endif %}
            <div>
                <section>
                    <h2 class="h4">What kind of player are you?</h2>
                    <p>Generate your own Wrappeds and discover what your recent player data says about you</p>
                </section>
                <section>
                    <h2 class="h4">Sharing is caring</h2>
                    <p>See how you compare to your friends, as well as other users, by sharing your Wrappeds</p>
                </section>
                <section>
                    <h2 class="h4">All in one place</h2>
                    <p>Keep and save your own Wrappeds as well as the ones shared with you by others</p>
                </section>
            </div>
        </div>
        {% include "elements/tutorial.html" %}
    </div>

{% endblock %}

{% block bottom_content %}
    {% if session.get('user_id') %}
        {% include "elements/gen_footer.html" %}
    {% else %}
        {% include "elements/log_in_footer.html" %}
    {% endif %}
{% endblock %}
