{% extends "header.html" %}
{% block content %}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="basic-title mt-5 ml-2">Log In</h1>
            <div class="rounded p-4 mt-4" style="background-color: #171a21; color: #fff;">
                <!-- Handle log in related flask messages -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class=" alert alert-{{ category }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <!-- Log in Form -->
                <form id="login-form" action="{{ url_for('main.login') }}" method="post" novalidate>
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        {{ form.username.label(class="bottom-box-text font-weight-bold") }}
                        {{ form.username(class="form-control dark-input", autocomplete="off") }}
                        {% for error in form.username.errors %}
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.password.label(class="bottom-box-text font-weight-bold") }}
                        {{ form.password(class="form-control dark-input", autocomplete="off") }}
                        {% for error in form.password.errors %}
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>

                    <div class="form-check">
                        {{ form.remember(class="form-check-input", id="rememberMe") }}
                        <label class="form-check-label bottom-box-text" for="rememberMe">Remember me</label>
                    </div>

                    <button type="submit" id ="loginBtn" class="btn btn-blue mt-3 mb-3">
                        Log In
                    </button>
                    
                    <!-- Create account option -->
                    <p class="bottom-box-text">
                        Don't have an account? <a href="{{ url_for('main.register') }}" class="link light-style">
                            <strong>Create an account</strong>
                        </a> to get started!
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
