{% extends "header.html" %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="basic-title mt-5 ml-2">Create an account</h1>
            <div class="bottom-box p-4 mt-4" style="text-align: left; height: 420px">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                       {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                       
                <form action="{{ url_for('register') }}" method="post">
                    <div class="form-group">
                        <label class="bottom-box-text" for="username" style="font-weight: bold;">Username</label>
                        <input type="text" class="form-control dark-input" id="username" name="username" required autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label class="bottom-box-text" for="password" style="font-weight: bold;">Password</label>
                        <input type="password" class="form-control dark-input" id="password" name="password" required autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label class="bottom-box-text" for="confirm_password" style="font-weight: bold;">Confirm Password</label>
                        <input type="password" class="form-control dark-input" id="confirm_password" name="confirm_password" required autocomplete="off">
                    </div>

                    <button type="submit" class="button mt-3 mb-3">
                        Register
                    </button>
                    <p class="bottom-box-text">
                        Already have an account? <a href="{{ url_for('login') }}" class="link light-style"> <strong>Log in</strong></a>
                    </p>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}
