{% extends "header.html" %}

{% block content %}
<div class="container">
    <h1 class="tab-title display-4 mb-5 mt-5 text-center">Your Wrapped Insights</h1>
        <div id="userWrapped" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
                {% for card in cards %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="card text-center" style="background-color: #171a21; height: 30rem;">
                        {{ card|safe }}
                        </div>
                    </div>
                {% endfor %}
        </div>

        <a class="carousel-control-prev" href="#userWrapped" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#userWrapped" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

</div>
{% endblock %}