/* Blue Button - i.e. log in, save, etc */
.btn-blue {
    color: #fff !important;
    background: #2D73FF !important;
}
.btn-blue:hover {
    color: #fff !important;
    filter: brightness(0.9) !important;
    transition: filter 0.2s ease !important;
}
.btn-blue:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5) !important;
}

/* Blue Button - i.e. generate, register etc */
.btn-green {
    color: #fff;
    background: #799905;
}
.btn-green:hover {
    color: #fff;
    filter: brightness(0.9);
    transition: filter 0.2s ease;
}
.btn-green:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}