<h5 class="card-title" style="color:white">The Duality of Man</h5>
<p class="card-text">
    You tend to listen to critics when it comes to <strong>{{ strongest_genre }}</strong> games,
    where every 1-point change in Metacritic score adds <strong>{{ strongest_slope }}</strong> hours to your playtime.
    However, you completely ignore them when it comes to <strong>{{ weakest_genre }}</strong> games,
    where every 1-point increase in Metacritic score decreases your playtime by <strong>{{ weakest_slope }}</strong> hours.
</p>