<h5 class="card-title" style="color:white">Your Taste Breaker</h5>
    <p class="card-text">
        You have an unusually high number of hours in <strong>{{ game_name }}</strong>, a <strong>{{ genre_name }}</strong> game.
        <br>
        You’ve played it for <strong>{{ game_playtime }}</strong> hours, while your average playtime for this genre is only <strong>{{ avg_playtime }}</strong> hours.
        <br>
        That’s a deviation of <strong>{{ deviation }}</strong> hours—clearly, this game is breaking your usual taste!
</p>