{% extends "header.html" %}
{% block content %}

    <!-- <h1> Get Your SteamWrapped! </h1>
    <p> An "upload data" view, allowing the user to add new data. </p> -->

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 d-flex flex-column align-items-start">
                <h1 class="tab-title generate display-4 mb-5">Generate your SteamWrappeds</h1>  
                <div>
                    <p> With you Steam ID ready, press the generate button below to get a new SteamWrapped </p>
                    <button class="button generate mb-3 mt-3">Generate</button>
                </div>
            </div>
            {% include "tutorial.html" %}
        </div>
    </div>

    

{% endblock %}
