{% extends "header.html" %}
{% block content %}

    <h1> Get Your SteamWrapped! </h1>
    <p> An "upload data" view, allowing the user to add new data. </p>

    <div>
        <h1 class="tab-title">Generate</h1>
        
        <section class="intro-section">
            <h2>What kind of player are you?</h2>
            <p>Generate your own Wrappeds and discover what your recent player data says about you</p>
        </section>
        
        <section class="intro-section">
            <h2>Sharing is caring</h2>
            <p>See how you compare to your friends, as well as other users, by sharing your Wrappeds</p>
        </section>
        
        <section class="intro-section">
            <h2>All in one place</h2>
            <p>Keep and save your own Wrappeds as well as the ones shared with you by others</p>
        </section>
    </div>

{% endblock %}
