<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITS3403 Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <ul class="header-tabs"> 
        <li> 
            <span class="clickable-text {% if request.endpoint == 'home' %}active-tab{% endif %}" 
                  onclick="window.location.href='{{ url_for('home') }}'"> HOME </span> 
        </li>
        <li> 
            <span class="clickable-text {% if request.endpoint == 'get' %}active-tab{% endif %}" 
                  onclick="window.location.href='{{ url_for('get') }}'"> GET </span> 
        </li>
        <li> 
            <span class="clickable-text {% if request.endpoint == 'view' %}active-tab{% endif %}" 
                  onclick="window.location.href='{{ url_for('view') }}'"> VIEW </span> 
        </li>
        <li> 
            <span class="clickable-text {% if request.endpoint == 'share' %}active-tab{% endif %}" 
                  onclick="window.location.href='{{ url_for('share') }}'"> SHARE </span> 
        </li>

    </ul>

    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>

</html>