<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITS3403 Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <ul class = "header-tabs"> 
        <li> 
            <span class="clickable-text" onclick="window.location.href='{{ url_for('home') }}'"> Home </span> 
        </li>
        <li> 
            <span class="clickable-text" onclick="window.location.href='{{ url_for('get') }}'"> Get </span> 
        </li>
        <li> 
            <span class="clickable-text" onclick="window.location.href='{{ url_for('view') }}'"> View </span> 
        </li>
        <li> 
            <span class="clickable-text" onclick="window.location.href='{{ url_for('share') }}'"> Share </span> 
        </li>

    </ul>

    {%block content%}{%endblock%}

    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>

</html>

<!--
    <div class="tabs">
        <div id="home">
            <h1> Home </h1>
            <p> An "introductory" view, describing the context and purpose of the application, and allowing the user to create an account or log in. </p>
        </div>

        <div id="get">
            <h1> Get Your Steam Wrapped! </h1>
            <p> An "upload data" view, allowing the user to add new data. </p>
        </div>

        <div id="view" class="tab-contents">
            <h1> View Your Own and Shared Steam Wrappeds! </h1>
            <p> A "visualise data" view, allowing user's to view analysis of either their data or other people's data which has been shared with them. </p>
        </div>

        <div id="share" class="tab-contents">
            <h1> Share Your Steam Wrapped with Others! </h1>
            <p> A "share data" view, allowing the users to selectively share their data with other specific users. </p>
        </div>
    </div>-->