{% extends "header.html" %}
{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 d-flex flex-column align-items-start">
            <h1 class="tab-title display-4 mb-5">Welcome to SteamWrapped!</h1>  
            <div>
                <section>
                    <h2 class="h4">What kind of player are you?</h2>
                    <p>Generate your own Wrappeds and discover what your recent player data says about you</p>
                </section>
                <section>
                    <h2 class="h4">Sharing is caring</h2>
                    <p>See how you compare to your friends, as well as other users, by sharing your Wrappeds</p>
                </section>
                <section>
                    <h2 class="h4">All in one place</h2>
                    <p>Keep and save your own Wrappeds as well as the ones shared with you by others</p>
                </section>
            </div>
        </div>

        <div class="col-md-6">
            <div class="half-col-box p-4 ">
                <h2 class="half-col-head m-4"> You will need your Steam ID to generate your SteamWrappeds </h2>
                <ol class="half-col-text">
                    <li class="mb-2"> Log in to <a href="https://store.steampowered.com/" class="no-style-link"> Steam </a> </li>
                    <li class="mb-2"> In the top right-hand corner, click on the drop down menu of your profile name</li>
                    <li class="mb-2"> Click on "Account details"</li>
                    <li class="mb-5"> In the top left is your username, underneath is your Steam ID </li>
                </ol>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <div class="bottom-box p-4 mt-3 mb-3">
                <h1 class="bottom-box-title login ">SteamWrapped</h1>
                <p class="bottom-box-text">To get, view and share your Steam Wrappeds, please log in</p>
                <button class="button mb-3">Log In</button>
                <p class="bottom-box-text">
                    Or <strong class="register-link">create an account</strong> to get started
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="footer-text text-center mt-4 mb-4">
                <p> University of Western Australia CITS3403 Agile Web Development Project Submission. <br>
                    SteamWrapped is not associated with Steam.</p>
            </div>
        </div>
</div>

{% endblock %}
